<%= render "books/list", book: @book, user: @user%>

<div class="col-md-8 offset-md-1">
        <h2><storng>Book detail</storng></h2>
        <table>
            <tbody>
                <tr>
                    <td>
                        <%= link_to user_path(@book_id.user.id) do %>
                            <%= image_tag @book_id.user.get_profile_image(50, 50) %></br>
                        <% end %>
                        <%= link_to user_path(@book_id.user.id) do %>
                            <%= @book_id.user.name %>
                        <% end %>
                    </td>
                    <td>
                        <%= link_to book_path(@book_id) do %>
                            <%= @book_id.title %>
                        <% end %>
                    </td>
                    <td>
                        <%= @book_id.body %>
                    </td>          
                    <td>
                        <% if @book_id.user == current_user %>
                            <%= link_to "Edit", edit_book_path(@book_id) ,class:"btn btn-success" %>
                        <% end %>
                    </td>
                    <td>
                        <% if @book_id.user == current_user %>
                            <%= link_to "Destroy", book_path, method: :delete , "data-confirm" => "本当に削除しますか？", class:"btn btn-danger" %>
                        <% end %>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
